.movie {
    transition: transform 450ms;
    background-repeat: no-repeat;
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.placeholder-poster {
    width: 200px;
    height: 300px;
    // background-color: rgba(0, 0, 0, 0.5);
}